{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <title>Full Power</title>
    <link rel="stylesheet" href='{% static "/css/form.css" %}'/>
</head>
<body>
    <div class="search">
    <div class="search1">
        <object align="right">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                <form action="{% url 'posts:search_results' %}" method="get">
                <input name="q" type="search" placeholder="Search Blog ..." autocomplete="off">
                <i class="fa fa-search"></i>
                </form>
        </object>

    </div>
    </div>

    <div class= "wrapper">
        <nav id ="sidebar">
            <div class="sidebar-header">
                <h3> TOGGLE </h3>
            </div>

        </nav>

    </div>
</body>

