{% load static %}
<head>
        <link rel="stylesheet" href='{% static "/css/form.css" %}'/>
        <script src="jquery-3.4.0.min.js"></script>

</head>
<body>
    <div class="search">
    <div class="search1">
        <object align="right">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                <form action="{% url 'posts:search_results' %}" method="get">
                <input name="q" type="search" placeholder="Search Blog ..." autocomplete="off">
                <i class="fa fa-search"></i>
    </form>

        </object>
    </div>
    </div>



