
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <title>Full Power</title>
    <link rel="stylesheet" href='{% static "/css/form.css" %}'/>
    <link rel="stylesheet" href='{% static "/css/sidebar.css" %}'/>
    <link rel="stylesheet" href='{% static "/css/wave.css" %}' />
</head>
<body>
    <div class="wrapper">
        <div class="wave-container">
            <div class="wave-one"></div>
            <div class="wave-two"></div>
            <div class="wave-three"></div>

        </div>
        <div class="line" style="transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: center center 0px; opacity: 1; display: block;"></div>
        <div class="text-wrap" style="opacity:1; display: flex; transform: matrix(1,0,0,1,0,0);">
            <div class="text" style ="position: relative; transform: matrix(1,0,0,1,0,0);">
                <span>F</span>
                <span>U</span>
                <span>L</span>
                <span>L</span>
                <span>P</span>
                <span>O</span>
                <span>W</span>
                <span>E</span>
                <span>R</span>
                <span>&#9882;</span>
            <div class="main-btn_wrapper" style="position: absolute; display: none; opacity: 0; transform: matrix(0, 0, 0, 0, 0, 0);">
                <i class="main-btn fa fa-play" aria-hidden="true">:: </i>
            </div>
            </div>
        </div>
        <div class="header">
            <div class="back_btn" style="transform:matrix(1, 0, 0, 1, 15, 0); opacity:0; display: none;">
                <div class="circle"></div>
                <div class="text">Back</div>
            </div>
        </div>
        <div class="page" id="curator" style="display: none;">
            <div class="curator_title_wrapper" style="opacity: 0; transform: matrix(1, 0, 0, 1, 30, 0);"><span>LP</span>
                <div class="curator_line"></div>
                <div class="curator_title">Listeners</div>
                <div class="curator_line"></div><span>14</span>
            </div>
            <div class="curator_list" style="display: none; opacity: 0; transform: matrix(1, 0, 0, 1, 30, 0);">
                <div class="curator_list_content">
                    <div class="connect_btn_wrapper item">
                        <div class="connect_btn">
                            <div class="connect_btn_text">Connect <br>SoundCloud</div>
                        </div>
                    </div>
                    <div class="curator_list_content_desc">Or Select <br>a Listener of <br>L.P. </div>
                    <div class="item">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="name">Fantasy</div>
                            <div class="desc">Sam</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="name">Fantasy</div>
                            <div class="desc">Sam</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="name">Fantasy</div>
                            <div class="desc">Sam</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="name">Fantasy</div>
                            <div class="desc">Sam</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="name">Fantasy</div>
                            <div class="desc">Sam</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb"></div>
                        <div class="info">
                            <div class="name">Fantasy</div>
                            <div class="desc">Sam</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>



    <div class="search">
    <div class="search1">
        <object align="right">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                <form action="{% url 'posts:search_results' %}" method="get">
                <input name="q" type="search" placeholder="Search Blog ..." autocomplete="off">
                <i class="fa fa-search"></i>
                </form>
        </object>
    </div>
    </div>

    <div class="sidebar-block mt-100">
      <div class="navbar-toggle-visible left">
        <!--side menu open button-->
        <div id="menu_bars" class="left active"> <span></span> <span></span> <span></span> </div>
        <div class="web-sidebar">

          <div class="sidebar-items">
            <nav class="side-nav side-nav-left slide-nav static-nav side-nav-open">
              <div class="side-nav-inner-setting">
                <ul class="list-unstyled side-nav-list">

                  <li class="sidebar-item clearfix">

                    <a href="/" class="gray active">
                      Home
                    </a>

                  </li>
                  <li class="sidebar-item clearfix">

                    <a href="/invoices" class="gray ">
                      Skill Set
                    </a>

                  </li>
                  <li class="sidebar-item clearfix">

                    <a href="/shipments" class="gray ">
                      Journey
                    </a>

                  </li>
                  <li class="sidebar-item clearfix">

                    <a href="/list" class="gray ">
                      Blog
                    </a>

                  </li>
                  <li class="sidebar-item clearfix">

                    <a href="/addresses" class="gray ">
                        About Me
                    </a>

                  </li>
                  <li class="sidebar-item clearfix">

                    <a href="/quotations" class="gray ">
                        Testimonials
                    </a>

                  </li>
                  <li class="sidebar-item clearfix">

                    <a href="/quotations" class="gray ">
                        Playlist
                    </a>

                  </li>

                </ul>
              </div>
            </nav>
          </div>

        </div>

      </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.0.0/marked.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
          $(".sidebar-item a").each(function (index) {
            if (this.href.trim() == window.location) $(this).addClass("active");
          });
          /* ===================================
          SideBar Menu On click
          ====================================== */
          var $menu_left = $(".side-nav-left");
          var $toggler = $("#menu_bars");
          if ($("#menu_bars").length) {
            $("#side-nav").addClass("side-nav-push");

            if ($toggler.hasClass("left")) {
              $toggler.on("click", function (e) {
                $(this).toggleClass("active");

                $menu_left.toggleClass("side-nav-open");
                e.stopPropagation();
              });
            } else {
              if ($toggler.hasClass("full")) {
                $toggler.on("click", function (e) {
                  $(this).toggleClass("active");
                  $menu_full.toggleClass("side-nav-open");
                  e.stopPropagation();
                });
              }
            }
          }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js"></script>
    <script id="INLINE_PEN_JS_ID">
        $('.text-wrap .text').hover(function () {
      TweenMax.to($('.main-btn_wrapper'), 0.5, { opacity: 1, display: 'block', position: 'absolute', scale: 1, ease: Elastic.easeOut.config(1, 0.75) }),
      TweenMax.to($('.line'), 0.5, { css: { scaleY: 0.6, transformOrigin: "center center" }, ease: Expo.easeOut });},

    function () {
      TweenMax.to($('.main-btn_wrapper'), 0.5, { opacity: 0, display: 'none', scale: 0, ease: Elastic.easeOut.config(1, 0.75) }),
      TweenMax.to($('.line'), 0.5, { css: { scaleY: 1, transformOrigin: "center center" }, ease: Expo.easeOut });
    });
    //# sourceURL=pen.js
  </script>
</body>

