{% extends "base.html" %}
{% load urlify %}
{% block head_title %} {{ instance.title }} | {{ block.super }}{% endblock head_title %}





{% block content %}
{% if instance.image %}
<img src="{{ instance.image.url}}" style="width:640px;height:390px" class='img-responsive' />
{% endif %}
<div class="col-sm-offset-3">
    <h1>{{ title }}<h6>{{ instance.timestamp }}</h6></h1>
    <div class="social-buttons">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ instance.content|urlify }}&source={{ request.build_absolute_uri }}/">
                <i class="fab fa-linkedin"></i>
            </a>
    </div>
    <br>
            {{ instance.content|linebreaks|safe }}
    </br>

</div>
{% endblock content %}
