body {
  background-color: #FDFDFD;
  color: #010101;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
[class^="col"]{
    font-family: "Lucida Console", Courier, monospace;;
}
.content-markdown{
  font-family: "Lucida Console", Courier, monospace;;
}

.container-fluid{
  position: relative;
  width: 120%;
  display: grid;
  grid-template-rows: auto;
  grid-gap:50px;
  padding: 9px;
}
h2{
    font-size: 30px;
    font-weight: 800px;
}




h1{
  font-size: 250%;
  margin: 35px 0 25px;
  font-weight: 800;
  color: #060c21;

}

.hoverServices:hover {
  background-color: lightblue;
}
@media (min-height:1080px) {
  .services-box {
    border: 5px solid #aaaaaa;
    border-left: 0;
    border-right: 0;
  }

  .services-box.last {

    border-right: 0;
  }
}
h5{
  color: #a41515;
}
h6{
  color: olivedrab;
}






