
li.sidebar-item a.active{
    color: #a41515!important;
}
  /* ------- Side Nav Click ------- */

        .side-nav-push {
            position: relative;
            left: 0;
            right: 0;
        }
        .side-nav-push, .side-nav {
            -webkit-transition: 280ms linear all;
            -o-transition: 280ms linear all;
            transition: 280ms linear all;
        }
        .side-nav-open {
            -webkit-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.35);
            box-shadow: 10px 0 10px -10px  rgba(0, 0, 0, 0.35);
        }
        /* ------- Menu Bars ------- */

        #menu_bars {
            padding: 5px;
            width: 38px;
            cursor: pointer;
            position: absolute;
            z-index: 1102;
        }
        #menu_bars, #menu_bars span{
            -webkit-transition: 300ms linear all;
            -o-transition: 300ms linear all;
            transition: 300ms linear all;
        }
        .navbar-toggle-visible #menu_bars {
            top: 63px;
        }
        .navbar-toggle-visible #menu_bars.active {
            top: 75px;
        }
        #menu_bars.active {
            position: fixed;
            height: 36px;
        }
        #menu_bars span {
            width: 30px;
            background: #333333;
            height: 1px;
            display: block;
            margin: 0 auto;
        }
        .navbar-toggle-visible #menu_bars span{
            background: greenyellow;
        }
        #menu_bars span:nth-child(1),
        #menu_bars span:nth-child(3) {
            width: 30px;
            margin: 0 auto;
        }
        #menu_bars span:nth-child(2) {
            margin: 5px 0;
        }
        #menu_bars:hover span:nth-child(1) {
            width: 20px;
            margin: 0 auto;
        }
        #menu_bars:hover span:nth-child(3) {
            width: 10px;
            margin: 0 auto;
        }
        #menu_bars.active span:nth-child(2) {
            display: none;
        }
        #menu_bars.active span:nth-child(1),
        #menu_bars.active span:nth-child(3){
            width: 30px;
            top: 20px;
            position: absolute;
            left: 5px;
            margin-top: -1px;
        }
        #menu_bars.active span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        #menu_bars.active span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        /* ------- Menu Bars Left ------- */

        .side-nav.side-nav-left.side-nav-open {
            -webkit-transition: 230ms linear all;
            -o-transition: 230ms linear all;
            transition: 230ms linear all;
        }
        .navbar-toggle-visible #menu_bars.left {
            left: 14px;
            transition: 0.3s;
        }
        .navbar-toggle-visible #menu_bars.left.active {
            left: 140px;
            transition: 0.4s;
        }

        /* ------- Side Nav ------- */

        .navbar-toggle-visible {
            width: 70px;
            position: fixed;
            right: 0;
            top: 0;
            height: 100px;
            z-index: 800;
        }
        .side-nav {
            height: 100vh !important;
            background: #2f2f33;
            padding: 55px 30px;
            width: 0;
            top: 0;
            bottom: 0;
            z-index: 900;
            position: relative;
            overflow: hidden !important;
            visibility: hidden;
        }
        .side-nav-inner-setting {
            margin: 50px auto;
        }
        .side-nav-open {
            visibility: visible;
        }
        .side-nav .side-nav-list li {
            display: block;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            position: relative;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }
        .side-nav .side-nav-list li > a {
            display: block;
            font-size: 18px;
            font-weight: 300;
            color: #fffccf;
            margin: 10px 0;
            position: relative;
            text-transform: capitalize;
        }
        .side-nav .side-nav-list li > a:hover {
            color: #00bcd4;
        }
        .side-nav .side-nav-list li > a:active, .side-nav .side-nav-list li > a:focus {
            color: #00bcd4;
        }
        .side-nav.side-nav-open .side-nav-list li {
            visibility: visible;
        }
        .side-nav.side-nav-open  li {
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            opacity: 1;
        }
        .side-nav .bottom-share{
            text-align: center;
            visibility: hidden;
            opacity: 0;
            bottom: 0;
            padding-bottom: 50px;
            position: absolute;
        }
        .nav-copyright {
            text-align: left;
            bottom: 30px;
        }
        .side-nav.side-nav-open .bottom-share{
            visibility: visible;
            opacity: 1;
        }
        /* ------- Side Nav Left ------- */
        .navbar-toggle-visible.left {
            left: 0; right: auto;
            /* -webkit-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.35);
            box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.35); */
        }
        .side-nav-left.slide-nav{
            left: -180px;
        }
        .side-nav-left.slide-nav.side-nav-open{
            left: 0;
            width: 180px;
        }
        .side-nav.side-nav-left .side-nav-list {
            max-width: 180px;
            margin: 0 auto;
        }
        .side-nav.side-nav-left .side-nav-list li {
            -webkit-transform: translate3d(-100px, 0px, 0px);
            transform: translate3d(-100px, 0px, 0px);
        }
        .side-nav.side-nav-left li > a:hover {
            margin-left: 10px;
        }
        .side-nav.side-nav-left .social_icon li > a:hover,.side-nav.side-nav-right .social_icon li > a:hover  {
            margin: 0;
        }
        .side-nav.side-nav-left .side-nav-list li > a:active, .side-nav.side-nav-left  .side-nav-list li > a:focus {
            margin-left: 10px;
        }
        .side-nav.side-nav-left.side-nav-open li {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }
        .side-nav.side-nav-left .side-nav-list .side-nav-open li {
            transition: all linear !important;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+1) {
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+2) {
            -webkit-transition-delay: .15s;
            transition-delay: .15s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+3) {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+4) {
            -webkit-transition-delay: .25s;
            transition-delay: .25s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+5) {
            -webkit-transition-delay: .30s;
            transition-delay: .30s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+6) {
            -webkit-transition-delay: .35s;
            transition-delay: .35s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+7) {
            -webkit-transition-delay: .40s;
            transition-delay: .40s;
        }
        .side-nav.side-nav-left .side-nav-list li:nth-child(n+8) {
            -webkit-transition-delay: .45s;
            transition-delay: .45s;
        }