@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');


body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	overflow: hidden;
	width: 100vw;
}
.wave-container {
	width: 300vw;
	height: 100%;
	position: fixed;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.waves{
	position:absolute;
	bottom:0;
	left: 0;
	right: 0;
	height: 400px;
	background: darkcyan;
	box-shadow: inset 0 0 50px;
	transition: 60s;
}
.waves::before,
.waves::after{
	content:'';
	position: absolute;
	width: 300vm;
	height: 300vm;
	top: -65vm;
	left: 50%;
	border-radius: 44%;
	transform: translate(-50%,-75%);
}
.waves::before{
	background: rgba(51, 51, 51, 1);
	animation: waves 8s linear infinite;

}
.waves::before{
	background: rgba(51, 51, 51, 0.4);
	animation: waves 15s linear infinite;

}
@keyframes waves{
		0%{
		transform: translate(-50%, -75%) rotate(0deg);
		}
		100%{
		transform: translate(-50%, -75%) rotate(360deg);
		}
}






.line {
	position: fixed;
	left: 50vw;
	width: 2px;
	background-color: #333333;
	height: 80px;
}

.text-wrap {
	position: absolute;
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text {
		cursor: pointer;
		position: relative;
	}

span {
		color: #333333;
		padding: 0 ;

	}
@media screen and (min-width: 451px) {
	div.line{
	top: 360px;
	}
  	span {
    font-size: 100px;
  }
}

@media screen and (max-width: 450px) {
	div.line{
		top: 200px;
	}
  	span {
    font-size: 30px;
  }
}
